.horimetros h2, h2 {
    text-align: center;
    margin: 1.5rem 1rem;
    font-size: 2rem;
    line-height: 2.5rem;
}

.selecoes h1 {
    font-size: 2rem;
    color: var(--cor-fonte-h1-selecoes);
    text-shadow: 1px 1px #000, 
                1px 1px #000,
                1px 1px #000,
                1px 1px #000;
    text-align: center;
    font-weight: 700;
}

header.principal h1 {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 1px;
}

nav.navegacao h2 {
    margin: 1rem 0 0 0;
}

.login h1 {
    position: absolute;
    top: 10%;
    color: #fff;
    font-size: 3rem;
}

.login h2 {
    margin: 0;
}
/*label mais input*/
.pivo-area, .percentual-lamina {
    display: flex;
    justify-content: space-between;
    gap: 2rem ;
    align-items: center;
}

.pivo, .area, .data, .percentual, .lamina, .horimetro-1, .horimetro-2, .horas {
    display: flex;
    flex-direction: column;
}

.horimetro{
    display: flex;
    gap: 1rem;
    text-align: center;
}

.horimetro-1-2-horas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.horas label {
    text-align: center;
}

.data input {
    width: 180px;
}

.pivo {
    width: 100px;
}

.pivo input {
    width: 100px;
}

.area input {
    min-width: 120px;
    max-width: 250px;
}

.percentual-lamina input {
    min-width: 120px;
}

.input-auto input {
    background-color: var(--cor-input-auto);
}

.lamina input {
    max-width: 200px;
}

.horimetro-1 input, .horimetro-2 input {
    min-width: 120px;
}

.horas input {
    width: 150px;
}

.falha input, .motivo input {
    display: flex;
    font-size: 1.6rem;
}

/*--Campo de observação--*/
.observacao .check {
    display: flex;
    justify-content: end;
    height: 3rem;
}

.observacao .check label {
    display: flex;
    align-items: center;
}

.observacao input[type='checkbox'] {
    accent-color: rgb(32, 190, 66);
    border-radius: 1.5rem;
    width: 50px;
    height: 100%;
    margin-top: 0;
}

.observacao .anotacao {
    text-align: center;
    padding-top: 1rem;
    display: none;
    
}

.observacao textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 0.3rem;
    border-radius: 0.5rem 0.5rem 1rem 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    font-family: 'Roboto';
    color: #000;
    background-color: #fff;
    height: 7rem;
    resize: none;
}


/*links*/
.destinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

a {
    width: 100%;
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    font-family: "Roboto";
    background-color: var(--cor-fundo-a-selecoes);
    color: var(--cor-fonte-a-selecoes);
    border-radius: 1.5rem;
}

.relogio {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto';
    color: #fff;
    letter-spacing: 2px;
}

/*responsividade de telas*/
@media (min-width: 750px) {

    main {
        margin-left: 250px;
    }

    main.formularios {
        background-color: var(--cor-fundo-main-formularios);
    }

    main.formularios a {
        display: none;
    }

    main.selecoes {
        background: var(--fundo-main-selecoes-desktop) no-repeat center center;
        background-size: cover;
    }

    .selecoes a {
        font-size: 2rem;
    }

    /*-- header e menu desktop --*/

    header.principal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-fundo-header-e-menu);

    padding: 2rem;
    margin: 0;
    min-width: 100vw;
    width: 100%;
    height: 100px;

    top: 0;
    left: 0;

    z-index: 1000;

    }

    header.principal img {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
    }

    header {
        margin: 2rem 1.5rem;

    }

    div.menu-e-conteudo {
        display: flex;
        margin-top: 100px;
    }

    div.menu-container {
        z-index: 1000;

        width: 250px;
        background-color: var(--cor-fundo-header-e-menu);
        display: block;
        height: 100vh;

        border-top: solid 1px #fff;
    }

    .logo-empresa {
        background-color: #000;
        width: 50%;
        height: 50%;
    }

    .logo-empresa img {
        width: 100%;
    }

    nav.navegacao {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0 2rem;
        height: 100%;
    }

    nav.navegacao ul {
        display: grid;
        gap: 1rem;
    }

    nav.navegacao ul li a {
        display: inline-block;
        font-size: 1.3rem;
        width: 100%;

        border-radius: 0.5rem;
    }

    nav.navegacao ul li a:visited {
        background-color: blueviolet;
    }

    .menu.link .ativo {
        background-color: blue;
    }


    /*-- fim --*/

    .formularios h2 {
        font-size: 2.5rem;
    }

    .execucao-os .inputs {
        padding: 2rem 2rem;
    }

    .atualizar-lamina .inputs {
        padding: 3rem 5rem;
    }

    .atualizar-lamina form {
        padding: 0 2rem;
    }

    .observacao {
        padding: 0 1rem;
    }
    
}

@media (max-width: 750px) {
    main.selecoes #fertirrigacao, #ordem-servico {
        display: none;
    }
}

@media (max-width: 320px) {

    .dropdown::-webkit-scrollbar {
    width: 2rem;
    }
}