.horimetros h2, h2 {
    text-align: center;
    margin: 1.5rem 1rem 1.5rem 1rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.selecoes h1 {
    font-size: 2rem;
    color: var(--cor-fonte-h1-selecoes);
    text-shadow: 1px 1px #000, 
                1px 1px #000,
                1px 1px #000,
                1px 1px #000;
    text-align: center;
    font-weight: 700;
}

/*label mais input*/
.pivo-area, .percentual-lamina {
    display: flex;
    justify-content: space-between;
    gap: 2rem ;
    align-items: center;
}

.pivo, .area, .data, .percentual, .lamina, .horimetro-1, .horimetro-2, .horas {
    display: flex;
    flex-direction: column;
}

.horimetro{
    display: flex;
    gap: 1rem;
    text-align: center;
}

.horimetro-1-2-horas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.horas label {
    text-align: center;
}

.data input {
    width: 180px;
}

.pivo input {
    width: 100px;
}

.area input {
    min-width: 120px;
    max-width: 250px;
}

.percentual-lamina input {
    min-width: 120px;
}

.input-auto input {
    background-color: var(--cor-input-auto);
}

.lamina input {
    max-width: 200px;
}

.horimetro-1 input, .horimetro-2 input {
    min-width: 120px;
}

.horas input {
    width: 150px;
}


/*links*/
.destinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

a {
    width: 100%;
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    font-family: "Roboto";
    background-color: var(--cor-fundo-a-selecoes);
    color: var(--cor-fonte-a-selecoes);
    border-radius: 1.5rem;
}


/*responsividade de telas*/
@media (min-width: 750px) {

    main.formularios {
        background: var(--fundo-main-formulario-desktop) no-repeat center center;
        background-size: cover;
    }
    main.selecoes {
        background: var(--fundo-main-selecoes-desktop) no-repeat center center;
        background-size: cover;
    }

    .selecoes a {
        font-size: 2rem;
    }

    .formularios h2 {
        font-size: 2.5rem;
    }

    .execucao-os .inputs {
        padding: 3rem 2rem;
    }

    .atualizar-lamina .inputs {
        padding: 3rem 5rem;
    }

    .atualizar-lamina form {
        padding: 0 2rem;
    }
    
}